#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#scanner-container {
  width: 100%;
  height: 40%;
  border: 1px solid red; /* Reduce border width to 1px */
  /* Set initial styles for smaller screens */
}

@media (min-width: 768px) {
  /* Adjust styles for screens with a width of at least 768px (tablets and larger) */
  #scanner-container {
    max-width: 300px; /* Reduce maximum width for tablets */
    max-height: 300px; /* Reduce maximum height for tablets */
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  /* Adjust styles for screens with a width of at least 1024px (desktops and larger) */
  #scanner-container {
    max-width: 400px; /* Reduce maximum width for larger screens */
    max-height: 400px; /* Reduce maximum height for larger screens */
  }
}


